<link href="https://fonts.googleapis.com/css?family=Average&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Averia+Libre|Waiting+for+the+Sunrise&display=swap" rel="stylesheet">
body, html{
	 height: 100%;
	 padding: 0;
	 margin: 0;
	 }
.tulisanHome{
	max-height: 655px;
}
.home{
	background-image: url("/static/images/Home.JPG");
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
}
.CE{
	font-family: 'Average', serif;
	text-align: center;
	font-style:normal;
	font-weight: normal;
	font-size: 7vw;
	line-height: 200px;
	color: #FFFFFF;
	padding-top:200px;
	height: 300px;
	letter-spacing: 5px;
}
.desc{
	font-family: Average;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	font-size: 3vw;
	line-height: 4vw;
	height: 240px;
	padding-top: 0px;
	padding-left: 20vw;
	padding-right: 20vw;
	text-align: center;
}

.hr{
	display: block;
	margin-top: 7vw;
	margin-left:20vw;
	margin-right: 20vw;
	border-style: inset;
	border-width: 1px;

}

.contact{
	display: block;
  	padding-left: 43%;
  	margin-bottom: 30px;
  	padding-bottom: 0;
}
.contact_icon{
	width: 20px;
	height: auto;
	padding-bottom: 0;
}

.about{
	height: 100%;
	background-size: cover;
}
.img_thisorthat{
	width: 100%;
	padding-top: 60px;
}
.img_profile{
	height: 40vw;
	width: auto;
	padding-left: 7vw;
	float: left;
	padding-right: 10vw;
	margin-top: 10vw;
}
.experienced{
	font-size: 3vw;
	
}
.education{
	font-size: 3vw;
	margin-top: 12vw;
}
.desc_EE{
	font-size: 2vw;
}
.set_EE{
	padding-bottom: 1vw;
}
.works{
	height: 100%;
	background-size: cover;
}
.img_works{
	padding-top: 5vw;
	width: 100%;
	height: auto;
	padding-bottom: 100px;
}
.article_works_tittle{
	margin-right: 40px;
	margin-left: 30px;
	font-size: 20px;
}
.article_works_text{
	font-family: 'Average', serif;
	padding-top: 10px;
	margin-right: 50px;
	margin-left: 30px;
	text-align: justify-all;
}
.gallery{
	height: 100%;
	background-size: cover;
}

.gallery_text{
	font-family: 'Waiting for the Sunrise', cursive;
	text-align: center;
	font-size: 8vw;
	padding-top: 80px;
}
.gallery_img{
	width: 13vw;
	height: auto;
	padding-top: 1vw;
}
.portofolio{
	margin-right: 1vw;
	margin-left: 1vw;
	border-style: solid;
	border-width: 0.1vw;
}
.img_portofolio{
	width: 20vw;
	height: auto;
	padding-top: 20px;
}
h1{
	background-color: #70706E;
	text-align: center;
	color: white;
}
.contact_portofolio{
	line-height: 4vw;
	padding-left: 1vw;
	font-size: 2vw;
}
}

@media screen and (max-width:500px){
	.home{
		height: 100%
	}
}