{% extends 'base.html' %} {% load static %} {% block content %}

<div class="about" id="about">
    <img class="img_thisorthat" src="{% static 'images/this or that.png' %}">

    <div style="padding-bottom: 200px; padding-top: 100px;">
        <img src="{% static 'images/profile.JPG' %}" class="img_profile">
        <div class="set_EE">
            <div style="padding-bottom: 20px;">
                <p class="education">Education</p>
                <p class="desc_EE">SMPN 1 Bukittinggi (2012-2015)
                    <br>SMAN 1 Bukittinggi (2015-2018)
                    <br>Universitas Indonesia (2018-now)</p>
            </div>
            <div>
                <p class="experienced">Experienced</p>
                <p class="desc_EE">Vice PIC of Liaison Officer, Wisuda Genap 2019
                    <br>Vice PIC of Public Relations, Betis 2020</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}