{% extends 'base.html' %} {% load static %} {% block content %}

<div class="gallery" id="gallery">
    <p class="gallery_text">Cindy Evik</p>

    <center>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <img class="gallery_img" src="{% static 'images/11.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/12.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/13.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/14.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/15.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/16.jpg' %}">

                </div>
                <div class="col-md-2">
                    <img class="gallery_img" src="{% static 'images/17.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/18.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/19.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/20.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/21.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/22.jpg' %}">


                </div>
                <div class="col-md-2">
                    <img class="gallery_img" src="{% static 'images/23.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/24.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/25.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/26.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/27.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/28.jpg' %}">


                </div>
                <div class="col-md-2">
                    <img class="gallery_img" src="{% static 'images/29.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/30.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/31.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/32.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/33.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/34.jpg' %}">

                </div>
                <div class="col-md-2">
                    <img class="gallery_img" src="{% static 'images/35.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/36.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/37.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/38.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/39.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/40.jpg' %}">

                </div>
                <div style="padding-right: 5px;" class="col-md-2">
                    <img class="gallery_img" src="{% static 'images/41.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/42.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/43.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/44.jpg' %}">
                    <img class="gallery_img" src="{% static 'images/45.jpg' %}">
                </div>
            </div>
        </div>
    </center>

</div>

{% endblock content %}