 {% extends 'base.html' %} {% load static %} {% block content %}

<div class="home" id="home">

    <div class="tulisanHome">
        <header class="CE">CINDY EVIK</header>
        <hr class="hr">
        <p class="desc">Information system students who are trying to make a personal website if you want to know me more, let's check this out</p>
    </div>
    <div class="contact">
        <a href="https://www.instagram.com/cindy_evik/"><img style="width: 8%; height: 8%;" src="{% static 'images/ig.png' %}"></a>
        <a href="https://twitter.com/Cindyevik"><img style="width: 8%; height: 8%;" src="{% static 'images/twitter.png' %}"></a>
        <a href="https://www.linkedin.com/in/cindy-s-evik-413372180/"><img style="width: 8%; height: 8%;" src="{% static 'images/linkedin.png' %}"></a>

    </div>
</div>


{% endblock content %}