{% extends 'base.html' %} {% load static %} {% block content %}

<div class="portofolio, container-responsive" id="resume">
    <div class="container">
        <div class="row">
            <div style="background-color: #AFEEEE" class="col-md-4">
                <center><img class="img_portofolio" src="{% static 'images/portofolio_profile.PNG' %}"></center>
                <div style="padding-top: 50px;" class="container">
                    <div style="line-height: 40px;" class="row">
                        <div class="col-md-5">
                            <p>Nama
                                <br>Tanggal lahir
                                <br>Agama
                                <br>Alamat
                            </p>
                        </div>

                        <div class="col-md-7">
                            <p>: Cindy Sonesha Evik
                                <br>: 01 Mei 2000
                                <br>: Islam
                                <br>: Bukittinggi
                            </p>
                        </div>
                    </div>
                </div>
                <h1>Contact</h1>
                <p class="contact_portofolio">081166010500
                    <br>cindyevik@gmail.com
                    <br>line : @cindyevik</p>
                <h1>Hobby</h1>
                <p class="contact_portofolio">Travelling
                    <br>Reading</p>
                <h1>Skills</h1>
                <p class="contact_portofolio">Public Speaking
                    <br>Writing</p>
            </div>


            <div class="col-md-8">
                <h1>Cindy
                    <br>Sonesha Evik
                    <br> ------
                    <br>Information System Student</h1>
                <h1>Profile</h1>
                <p class="contact_portofolio">Saya berumur 19 tahun, mahasiswa sistem Informasi. Saya orang yang cukup mudah dalam beradaptasi dengan lingkungan baru, saya juga cukup mudah dalam berkomunikasi dengan orang lain, dan saya orang yang senang mempelajari hal yang baru.</p>
                <h1>Education</h1>
                <p class="contact_portofolio">2006-2012 SDN 10 Puhun Pintu Kabun
                    <br>2012-2015 SMPN 1 Bukittinggi
                    <br>2015-2018 SMAN 1 Bukittinggi
                    <br>2018-now Universitas Indonesia </p>
                <h1>Experience</h1>
                <p class="contact_portofolio">Vice PIC of Liaison Officer, Wisuda Genap 2019
                    <br>Vice PIC of Public Relations, Betis 2020</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}