{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="sched">
        <div class="container">
            <h1>Schedule</h1>
			<hr>
            <form class="left" style="width: 50%; margin: 0 auto" method="POST" action="{% url 'sched_add' %}" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <label for="activity"><strong>{{ form.activity.label_tag }}</strong></label>
                    {{ form.activity }}
                </div>
                <div class="form-group">
                    <label for="dates"><strong>{{ form.dates.label_tag }}</strong></label>
                    {{ form.dates }}
                </div>
                <div class="form-group">
                    <label for="time"><strong>{{ form.time.label_tag }}</strong></label>
                    {{ form.time }}
                </div>
                <div class="form-group">
                    <label for="location"><strong>{{ form.location.label_tag }}</strong></label>
                    {{ form.location }}
                </div>
                <div class="form-group">
                    <label for="category"><strong>{{ form.category.label_tag }}</strong></label>
                    {{ form.category }}
                </div>
                <br>
                <button type="submit" class="btn btn-primary waves-effect waves-light" value="Save"><h4>Add</h4></button>
            </form>
            <hr>
        </div>
    </div>
{% endblock %}
