{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div id="sched">
    <div class="container">
        <h1>Schedule</h1>
        <hr>
        <div class="col-md-12 left">
            <table class="table m-0">
                <thead>
                    <tr>
                        <th>Activity</th>
                        <th>Day</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Location</th>
                        <th>Category</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in data %}
                    <tr>
                        <td>{{ obj.activity }}</td>
                        <td>{{ obj.dates|date:"l" }}</td>
                        <td>{{ obj.dates }}</td>
                        <td>{{ obj.time }}</td>
                        <td>{{ obj.location }}</td>
                        <td>{{ obj.category }}</td>
                        <td><a href="{% url 'sched_edit' pk=obj.pk %}"><p>edit</p></a></td>
                        <td><a href="{% url 'sched_delete' pk=obj.pk %}"><p>delete</p></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
