{% extends 'base.html' %} {% load static %} {% block content %}

<div>

    <div class="works" id="works">
        <img class="img_works" src="{% static 'images/2.jpg' %}">

        <div class="container">
            <div class="row">
                <div style="padding-top: 3vw;" class="col-md-4">
                    <center><img style="width: 310px; height: auto;" src="{% static 'images/3.jpg' %}"></center>
                    <p class="article_works_tittle"><b>Software Engineering Academy: Camp 3</b></p>
                    <p class="article_works_text">Do you want to know more about the last camp of SEA Academy and who is the best team and the best participant? Don’t forget to check out this press release</p>
                    <a href="https://www.compfest.id/blog/software-engineering-academy-camp-3-2"><img style="float: right; width: 150px; padding-right: 30px;" src= "{% static 'images/readmore.jpg' %}"></a>
                </div>
                <div style="padding-top: 3vw;" class="col-md-4">
                    <center><img style="width: 310px; height: auto;" src="{% static 'images/4.jpg' %}"></center>
                    <p class="article_works_tittle"><b>Iris Scanner : The Latest Security System Innovation</b></p>
                    <p class="article_works_text">Did you already know that the iris scanner is the newest and safest security system? Want to know more about this one? Don’t forget to check the following article</p>
                    <a href="https://www.compfest.id/blog/iris-scanner-the-latest-security-system-innovation"><img style="float: right; width: 150px; padding-right: 30px;" src="{% static 'images/readmore.jpg' %}"></a>
                </div>

                <div style="padding-top: 3vw;" class="col-md-4">
                    <center><img style="width: 310px; height: auto; " src="{% static 'images/5.JPG' %}"></center>
                    <p class="article_works_tittle"><b>Innovative App Competition Final Round</b></p>
                    <p class="article_works_text">Want to know who won the COMPFEST Innovative App Competition this year? Don’t forget to check the following post</p>
                    <a href="https://www.compfest.id/blog/innovative-app-competition-final-round"><img style="float: right; width: 150px; padding-right: 30px;" src="{% static 'images/readmore.jpg' %}"></a>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}